<!DOCTYPE html>
<html>

	{% if page.title != 'index' %}
	    {% include head.html %}
	{% else %}
		{% include index_head.html %}
	{% endif %}


<body id="page-top" class="landing-page">

	{% if page.title != 'index' %}
	    {% include header.html %}
	{% endif %}

    {{ content }}

	{% if page.title != 'index' %}
	    {% include footer.html %}
	{% else %}
		{% include index_footer.html %}
	{% endif %}
<img  style="CURSOR: pointer" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=26686294&o=www.duanzhaoqian.com&q=7', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"  border="0" SRC=http://wpa.qq.com/pa?p=1:26686294:1 alt="联系我">
</body>
</html>
