<!DOCTYPE html>
<html>

	{% if page.title != 'index' %}
	    {% include head.html %}
	{% else %}
		{% include index_head.html %}
	{% endif %}


<body id="page-top" class="landing-page">

	{% if page.title != 'index' %}
	    {% include header.html %}
	{% endif %}

    {{ content }}

	{% if page.title != 'index' %}
	    {% include footer.html %}
	{% else %}
		{% include index_footer.html %}
	{% endif %}
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=26686204&site=http://www.duanzhaoqian.com/&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:26686204:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E6%AE%B5%E6%9C%9D%E9%AA%9E&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=%E6%AE%B5%E6%9C%9D%E9%AA%9E&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
</body>
</html>
